# Deterministic installs. The lockfile is the record of what CI graded for
# licence compliance (ADR-001), so it is never regenerated as a side effect.
auto-install-peers=true
strict-peer-dependencies=false
resolve-peers-from-workspace-root=true
